.header {
    position: relative;
    background: linear-gradient(90deg, #ae6ea7, #a6c7f0);
    box-shadow: $shadow;
    z-index: 10;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: $spacer-xs
    }

    &-logo {
        width: 100%;
        height: 100px;
        text-align: center;
        margin-bottom: $spacer-xs;

        @media (min-width: $grid-md) {
            width: auto;
            text-align: left
        }

        a {
            width: 100%;
            height: 100%
        }

        img {
            height: 100%;
            width: auto
        }
    }

    &-right {
        display: flex;
        width: 100%;
        margin-bottom: $spacer-xs;

        @media all and (min-width: $grid-md) {
            align-items: center;
            width: auto;
            margin: 0 0 0 auto
        }

        @media (min-width: $grid-xl) {
            flex-direction: column;
            align-items: flex-end
        }

        &-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;

            @media all and (min-width: $grid-sm) {
                flex-wrap: nowrap
            }
        }
    }
}