.header {
    position: relative;
    background: linear-gradient(90deg, #ae6ea7, #a6c7f0);
    box-shadow: $shadow;
    z-index: 10;

    &-inner {
        display: flex;
        flex-wrap: wrap;
        padding-top: $spacer-xs
    }

    &-logo {
        width: 100%;
        height: 100px;
        margin-bottom: $spacer-xs;

        @media (min-width: $grid-md) {
            width: auto
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            @media (min-width: $grid-lg) {
                justify-content: flex-start
            }
        }

        img {
            height: 100%;
            width: auto
        }

        &__text {
            display: none;
            flex-direction: column;
            font-family: $ff-title;
            font-size: 40px;
            line-height: 40px;
            margin-left: 5px;
            color: $light;
            text-shadow: $text-shadow;
            text-align: left;

            @media all and (min-width: $grid-lg) {
                display: flex
            }
        }
    }

    &-right {
        display: flex;
        width: 100%;
        margin-bottom: $spacer-xs;

        @media all and (min-width: $grid-md) {
            align-items: center;
            width: auto;
            margin: 0 0 0 auto
        }

        @media (min-width: $grid-xl) {
            flex-direction: column;
            align-items: flex-end
        }

        &-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;

            @media all and (min-width: $grid-sm) {
                flex-wrap: nowrap
            }
        }
    }
}