.song-preview {
    width: 100%;
    margin-bottom: $spacer-md;
    border-bottom: 1px solid $light-2;
    padding-bottom: $spacer-md;

    &-inner {
        display: flex;
        flex-wrap: wrap
    }

    &-thumb {
        width: $spacer-xl * 2;
        height: $spacer-xl * 2;
        border-radius: $radius;
        box-shadow: $shadow;
        overflow: hidden
    }

    &-info {
        position: relative;
        display: flex;
        align-items: flex-start;
        width: calc(100% - 80px);
        padding-left: $spacer-md;

        &__fields {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start
        }
    }

    .slide-info__title {
        margin: 0;

        a {
            color: $brand-blue;
            text-shadow: none;

            &:hover {
                color: $brand-violet
            }
        }
    }

    &-terms {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px
    }

    &-term {
        font-size: $fs-sm;
        color: $gray;
        font-weight: $fw-light;
        margin-right: $spacer-xs;

        &:last-child {
            margin-right: 0
        }

        &:hover {
            color: $brand-violet
        }
    }

    .slide-button {
        display: none;
        margin: auto 0 auto auto;
        padding-left: $spacer-md;

        @media all and (min-width: $grid-sm) {
            display: block
        }
    }

    .slide-views {
        position: relative;
        top: 0;
        left: 0;
        margin-bottom: $spacer-xs
    }
}