.song-single {
    .cwp-title__text {
        padding: $spacer-xl
    }
}

.song-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    z-index: 1
}

.song-content {
    width: 100%;
    margin-top: $spacer-xl;

    @media all and (min-width: $grid-xl) {
        margin-top: 100px
    }

    .wp-block-audio {
        margin: $spacer-xl 0 0;
        border-radius: $radius;
        overflow: hidden;
        box-shadow: $shadow;

        audio {
            display: block;
            width: 100%
        }
    }
}

.song-terms {
    width: 100%;
    margin-top: 20px;

    &-inner {
        display: flex;
        flex-wrap: wrap
    }
}

.song-term {
    border: 1px solid $brand-green;
    border-radius: 5px;
    padding: 5px $spacer-md;
    margin-right: $spacer-md;
    color: $brand-green;
    font-weight: $fw-semibold;
    transition:
        color ease-out $tr,
        background-color ease-out $tr;

    &:last-child {
        margin-right: 0
    }

    &:hover {
        color: $white;
        background-color: $brand-green
    }
}