.cwp-cta {
    display: flex;
    flex-direction: column;
    padding: $spacer-md 0;

    @media all and (min-width: $grid-md) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center
    }

    &.small {
        padding: $spacer-xs 0;

        .cwp-cta-text__title {
            font-size: 30px;
            margin-bottom: 5px;

            @media all and (min-width: $grid-xl) {
                font-size: 40px
            }
        }

        .cwp-cta-text__desc {
            font-size: $fs-md;

            @media all and (min-width: $grid-xl) {
                font-size: $fs-lg
            }
        }
    }

    &-text {
        width: 100%;

        @media all and (min-width: $grid-md) {
            width: 65%
        }

        @media all and (min-width: $grid-lg) {
            width: 75%
        }

        @media all and (min-width: $grid-xl) {
            padding-right: 20%
        }

        &__title {
            font-weight: $fw-black;
            font-size: 40px;
            color: $light;
            text-shadow: $text-shadow;

            @media all and (min-width: $grid-xl) {
                font-size: 60px
            }
        }

        &__desc {
            font-size: $fs-lg;
            font-weight: $fw-semibold;
            color: $light;
            margin-bottom: 0;
            text-shadow: $text-shadow;

            @media (min-width: $grid-xl) {
                font-size: $fs-xl
            }
        }
    }

    &-button {
        width: 100%;
        text-align: center;
        margin-top: $spacer-sm;

        @media all and (min-width: $grid-md) {
            width: 35%;
            text-align: right;
            margin-top: 0
        }

        @media all and (min-width: $grid-lg) {
            width: 25%
        }
    }
}