.profile {
    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $white;
        padding: $spacer-sm;
        margin: $spacer-xl 0;
        box-shadow: $shadow;

        @media all and (min-width: $grid-md) {
            padding: $spacer-lg
        }
    }

    &-sidebar {
        width: 25%
    }

    &-avatar {
        margin-bottom: $spacer-xs;
        padding-bottom: $spacer-md;
        border-bottom: 1px solid $light;

        .avatar {
            position: relative;
            display: block;
            width: 100px;
            height: 100px;
            border-radius: $radius;
            box-shadow: $shadow
        }

        .dt-logout {
            i {
                margin-right: 3px
            }
        }
    }

    &-login {
        margin: $spacer-md 0 $spacer-xs;
        color: $brand-violet
    }

    &-bio {
        font-size: $fs-md;
        font-weight: $fw-light;
        color: $gray;
        margin-bottom: $spacer-xs;
        padding-bottom: $spacer-md;
        border-bottom: 1px solid $light
    }

    &-content {
        width: 70%;

        &-inner {
            display: none;

            &.active {
                display: block
            }
        }

        .section-title {
            &.underlined {
                margin-bottom: 0
            }
        }
    }
}

.user {
    &-tab {
        cursor: pointer;
        font-size: $fs-xl;
        font-weight: $fw-semibold;
        color: $gray;
        padding: $spacer-xs 0;
        transition: color ease-out $tr;

        &:hover,
        &.active {
            color: $brand-violet
        }

        i {
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            margin-right: 5px
        }
    }

    &-fields {
        width: 100%;

        &.disabled {
            opacity: 0.5
        }
    }

    &-field {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: $spacer-xs 0;

        &.hidden {
            display: none
        }

        &.note {
            justify-content: center;
            color: $brand-violet;
            font-weight: $fw-semibold
        }

        &.avatar {
            img {
                border-radius: $radius;
                box-shadow: $shadow;
                margin-right: $spacer-xs
            }
        }

        &-label {
            width: 30%;
            color: $gray
        }

        &-value {
            display: flex;
            align-items: center;
            width: 65%;
            font-weight: $fw-semibold;

            a {
                color: $brand-blue;

                &:hover {
                    color: $brand-violet
                }
            }
        }

        &-button {
            margin-top: $spacer-sm;
            justify-content: flex-end
        }
    }

    // Invite form.
    &-invite {
        &.disabled {
            opacity: 0.5
        }
    }
}

.not-logged-in-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $spacer-lg;

    @media all and (min-width: $grid-md) {
        flex-direction: row;
        flex-wrap: wrap
    }

    .button {
        margin-bottom: $spacer-xs;

        &:last-child {
            margin-bottom: 0
        }

        @media all and (min-width: $grid-md) {
            margin: 0 $spacer-xs 0 0;

            &:last-child {
                margin-right: 0
            }
        }
    }
}