button {
    cursor: pointer;
    border: none
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: $fw-semibold;
    padding: 5px $spacer-sm;
    border-radius: $radius;
    box-shadow: $shadow;
    min-height: $spacer-xl;

    &.yellow {
        background-color: $brand-yellow;
        color: $gray;
        transition:
            background-color ease-out $tr,
            color ease-out $tr;

        &:hover {
            background-color: $light;
            color: $brand-violet
        }
    }

    &.black {
        background-color: $dark-1;
        color: $light;
        transition:
            background-color ease-out $tr,
            color ease-out $tr;

        &:hover {
            background-color: $brand-yellow;
            color: $gray
        }
    }

    &.lg {
        font-size: $fs-xl;
        min-width: 200px;
        padding: $spacer-sm 25px
    }

    &.icon {
        font-size: 17px;
        font-weight: $fw-regular;

        span {
            white-space: nowrap
        }

        i {
            font-size: $fs-lg;
            margin-left: $spacer-xs
        }
    }
}

.link {
    position: relative;
    font-size: $fs-lg;
    font-weight: $fw-semibold;
    color: $brand-blue;

    &:hover {
        color: $brand-violet
    }

    &::after {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        top: 0;
        right: -$spacer-md
    }
}